<?xml version="1.0" encoding="utf-8" ?>
<castle>
  <components>
    
    <component
        id="XmlModelSerializer"
        service="MvcWebAPIEjercicio.Models.XmlModelSerializer`1, MvcWebAPIEjercicio"
        type="MvcWebAPIEjercicio.Models.XmlModelSerializer`1, MvcWebAPIEjercicio" /><!--cuando alguien pida  un service, mandar un tipo.-->
  </components>
</castle>